/* Palette :
  #0B162C
  #1C2942
  #3B556D
  #5FC2BA
  #FFFFFF
*/

.app {
  padding: 8px;
  font-family: 'Roboto';
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #0B162C;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 80%;
}

.nav-bar .active {
  background-color: #FFFF;
  color: #0B162C;
}

.nav-bar button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}

.nav-bar button:hover {
  background-color: #3B556D;
}

.filter .bar-search{
  width: 75%;
  border:  0.5px solid #e3e8ed;
  border-radius: 8px;
  box-shadow: '0px 0px 5px rgb(195, 195, 195)',
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.iconSearch {
  cursor: pointer;
}

#raccourci {
  color: gray;
  font-size: 14px;
  display: flex;
  align-items: center;
}
